In [4]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
card = pd.read_excel('tj_01_creditcard_card.csv')
customer = pd.read_excel('tj_01_creditcard_customer.csv')

card.head()

,card_no,bill_cyc,pos_dt,cst_id,open_dt,exp_dt,cr_lmt_amt,prev_cr_lmt_amt
0,1234000000023349,20,2017-02-23,1000004674,2010-12-20,1220,70000,0
1,1234000000007292,17,2017-02-23,1000010084,2014-06-04,619,69000,60000
2,1234000000018889,20,2017-02-23,1000009114,2014-01-22,119,27000,32000
3,1234000000016887,17,2017-02-23,1000013313,2015-12-03,1220,41000,0
4,1234000000026997,17,2017-02-23,1000010235,2014-06-24,619,50000,60000